@import "./margin.css";
@import "./padding.css";
@import "./gap.css";
@import "./layout.css";
@import "./text.css";
@import "./position.css";

.w-full {
  width: 100%;
}
.w-1\/2 {
  width: 50%;
}
.w-1\/3 {
  width: 33.333%;
}

.h-full {
  height: 100%;
}
.h-screen {
  height: 100vh;
}

.border {
  border: 1px solid #e5e7eb;
}
.border-0 {
  border: none;
}

.rounded {
  border-radius: 4px;
}
.rounded-md {
  border-radius: 8px;
}
.rounded-lg {
  border-radius: 12px;
}
.rounded-full {
  border-radius: 100%;
}

.shadow-sm {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.shadow {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.shadow-lg {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15);
}
