.container {
  padding: 72px 0 64px 0;
}

.header-text {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 48px;
  text-align: center;
}

.products-container {
  margin-top: 55px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  /* justify-content: space-between; */
  justify-content: center;
}

.view-all-button-container {
  margin-top: 36px;
  display: flex;
  justify-content: center;
}

.view-all-button {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border-radius: 62px;
  padding: 16px 54px;
  font-size: 16px;
  font-weight: 500;
  transition: 0.3s;
}

.view-all-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transform: translateY(-2px);
}
