* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* For Testing Purpose  */
  font-family: "Satoshi", sans-serif;
}

.header-text {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 40px;
}
