.hero {
}

.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--tertiary-color);
}

.hero-text-container {
  padding: 103px 105px 116px 100px;
  width: 50%;
}

.hero-image-container {
  width: 50%;
  height: 770px;
  overflow: hidden;
}

.hero-image-container-image {
  width: 100%;
  height: 100%;
  position: relative;
}

.hero-image {
  width: 95%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  display: block;
}

.hero-stats-separator {
  width: 1px;
  background-color: rgba(0, 0, 0, 0.1);
}

.hero-text {
  font-size: 64px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--primary-color);
  line-height: 64px;
}

.hero-description {
  margin-top: 32px;
  font-size: 16px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
  line-height: 22px;
}

.hero-button {
  margin-top: 32px;
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 62px;
  padding: 16px 54px;
  font-size: 16px;
  font-weight: 500;
  transition: 0.3s;
}

.hero-button:hover {
  background-color: rgba(0, 0, 0, 0.9);
  cursor: pointer;
  transform: translateY(-2px);
}

.hero-stats {
  margin-top: 48px;
  display: flex;
  gap: 20px;
}

.hero-stats-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hero-stats-item-value {
  font-size: 40px;
  font-weight: 700;
  color: var(--primary-color);
}

.hero-stats-item-description {
  font-size: 16px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
  line-height: 22px;
}

.hero-brands {
  display: flex;
  justify-content: space-between;
  gap: 106px;
  padding: 44px 100px;
  background-color: black;
}

.hero-star-icon1 {
  position: absolute;
  bottom: 310px;
  left: 40px;
}

.hero-star-icon2 {
  position: absolute;
  bottom: 473px;
  right: 80px;
}
