.footer {
  margin-top: 100px;
  background-color: var(--tertiary-color);
}

.footer-subscribe {
  display: flex;
  background-color: var(--primary-color);
  width: 100%;
  padding: 36px 64px;
  border-radius: 20px;
  height: 180px;
  justify-content: space-between;
}

.footer-subscribe-text {
  width: 551px;
  font-weight: 700;
  line-height: 45px;
  font-size: 40px;
  color: var(--secondary-color);
}

.footer-subscribe-action {
  width: 349px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.footer-subscribe-action-text-field {
  padding: 12px 16px;
  font-size: 16px;
  font-weight: 400;
  border-radius: 62px;
  border: none;
  background-color: var(--secondary-color);
}

.footer-subscribe-action-text-field:focus {
  outline: none;
}

.footer-subscribe-action-button {
  width: 100%;
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border-radius: 62px;
  padding: 12px 16px;
  font-size: 16px;
  font-weight: 500;
  transition: 0.3s;
}

.footer-subscribe-action-button:hover {
  background-color: rgba(255, 255, 255, 0.9);
  cursor: pointer;
}
