.footer {
  margin-top: 100px;
  padding-bottom: 10px;
  background-color: var(--tertiary-color);
}

.footer-main {
  margin: 60px 0;
}

.footer-subscribe {
  display: flex;
  background-color: var(--primary-color);
  width: 100%;
  padding: 36px 64px;
  border-radius: 20px;
  height: 180px;
  justify-content: space-between;
}

.footer-subscribe-text {
  width: 551px;
  font-weight: 700;
  line-height: 45px;
  font-size: 40px;
  color: var(--secondary-color);
}

.footer-subscribe-action {
  width: 349px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.input-wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 16px;
  border-radius: 62px;
  background-color: var(--secondary-color);
}

.footer-subscribe-action-text-field {
  flex: 1;
  border: none;
  background: transparent;
  font-size: 16px;
  font-weight: 400;
}

.footer-subscribe-action-text-field:focus {
  outline: none;
}

.footer-subscribe-action-button {
  width: 100%;
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border-radius: 62px;
  padding: 12px 16px;
  font-size: 16px;
  font-weight: 500;
  transition: 0.3s;
}

.footer-subscribe-action-button:hover {
  background-color: rgba(255, 255, 255, 0.9);
  cursor: pointer;
  transform: translateY(-2px);
}

.footer-main-item {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.footer-main-item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 3px;
  color: var(--primary-color);
}

.footer-main-item-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: var(--primary-color);
  text-decoration: none;
  transition: 0.3s;
}

.footer-main-item-link:hover {
  text-decoration: underline;
  cursor: pointer;
  transform: translateX(2px);
}

.footer-header-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-header {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.footer-header-text {
  font-weight: 700;
  font-size: 33.45px;
  color: var(--primary-color);
  text-transform: uppercase;
}

.footer-header-text-description {
  max-width: 248px;
  font-weight: 400;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
  line-height: 22px;
}

.footer-header-social-media-icons {
  display: flex;
  gap: 8px;
}

.line {
  margin: 60px 0 30px 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-bottom-text {
  font-weight: 400;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}

.footer-bottom-icons {
  display: flex;
  gap: 12px;
}

.footer-bottom-icon {
  border-radius: 5.38px;
  border: 0.22px solid rgba(0, 0, 0, 0.1);
  width: 46.61px;
  height: 30.03px;
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
